<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- style imports -->
  <link rel="stylesheet" href="./styles/main.css">

</head>
<body>
  <div class="main-container">
    <h1>Hello from Cobee's aweson API 💕</h1>
    <div class="table-contanier">
      <table>
        <thead>
          <tr>
            <th>Path</th>
            <th>method</th>
            <th>handler</th>
            <th>action</th>
            <th>return</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/</td>
            <td>get</td>
            <td>./controllers/main.js</td>
            <td>index</td>
            <td>HTML</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>