<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cobee aweson API</title>
</head>
<body>
  <style>

  </style>
  <h1>This is a Cobee AWESON API</h1>
  <table>
    <thead>
      <tr>
        <th>
          URL
        </th>
        <th>
          METHOD
        </th>
        <th>
          HANDLER
        </th>
        <th>
          ENTRYPOINT
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/</td>
        <td>get</td>
        <td>./controller/main.js</td>
        <td>index</td>
      </tr>
    </tbody>
  </table>
</body>
</html>